<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
    <label
        th:fragment="User"
        th:with="required=${required} ?: false, placeholder=${placeholder} ?: 'Username'"
        class="input input-bordered flex items-center gap-2"
    >
        <svg th:replace="~{fragments/icons/User :: User}"></svg>
        <input
            name="username"
            type="text"
            th:required="${required}"
            th:placeholder="${placeholder}"
            class="grow"
        />
    </label>
</html>
